<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>Liens </h1>
	<p>
		<a [routerLink]="[{ outlets: { page1: ['products'] } }]">page1 </a>
		  &&
		<a [routerLink]="[{ outlets: { page2: ['products'] } }]">page2</a>
		&&
		<a routerLink="page3">page3</a>
	</p>
</div>

<div>
	<div style="background-color:blue">
		<router-outlet></router-outlet>
	</div>
	<div style="background-color:pink">
		<router-outlet name="page1"></router-outlet>
	</div>
	<div style="background-color:green">
		<router-outlet name="page2"></router-outlet>
	</div>

</div>
